h1 {
  background-color: white;
}

* {
  background-color: white;
}

.gridFrame {
  height: 10px;
  width: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

}

.tile {
  height: 100px;
  Width:100px;
  background-color: lightblue;
  border: red solid 5px;
  text-align:center;
  font-size: 5em;
}

button {
  background-color: aliceblue;
  margin: 5px;

}



.dot {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: black;

}

h2 {
  display: inline;
}